.register,
.login{
    margin: 50px auto;
    width: 400px;
    padding: 18px 6% 60px 6%;
    background: rgb(247, 247, 247);
    border: 1px solid rgb(147, 184, 189);
    border-radius: 5px;
}

.register{
  display: none;
}

.container h1{
    font-size: 36px;
    padding: 2px 0 10px 0;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

.container input{
    width: 100%;
    margin-top: 4px;
    padding: 10px 5px 10px 5px;
    border: 1px solid rgb(178, 178, 178);
    box-sizing : content-box;
    border-radius: 3px;
}

.container p.button input{
    width: 100%;
    cursor: pointer;
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    font-family: sans-serif;
    color: #fff;
    font-size: 16px;
    border: 1px solid rgb(28, 108, 122);
    margin-bottom: 10px;
    border-radius: 3px;
    
}
.container p.button input:hover{
    background: rgb(74, 179, 198);
}
.container p.button input:active,
.container p.button input:focus{
    background: rgb(40, 137, 154);
    position: relative;
    top: 1px;
    border: 1px solid rgb(12, 76, 87);
}
p.login.button,
p.signin.button{
    text-align: right;
    margin: 5px 0;
}

span {
  color: rgb(40, 137, 154);
  cursor: pointer;
}

.link{
  text-align: center;
}